
.modalContainerChangePasswordModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 0;
}

.modalTitleChangePasswordModal {
  margin: 0 0 2.8rem 0;
  display: inline-block;
  text-align: center;
  font-size: 3.2rem;
}

.formChangePasswordModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}


.formChangePasswordModal p {
  color: red;
  font-size: 2.4rem;
}

.footerChangePasswordModal {
  margin-top: 2.8rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerChangePasswordModal button {
  width: 94%;
  max-width: 350px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  color: #faffff;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  font-size: 2.4rem;
  cursor: pointer;
}

.footerChangePasswordModal .space {
  flex-grow: 1;
}


.footerChangePasswordModal button svg {
  margin-left: 20px;
  align-self: center;
}

#confirmBtnChangePasswordModal {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-light-green);
  color: #faffff;
  font-weight: 700;
  padding: .8rem 1.6rem;
  margin-bottom: 1.2rem;
}

#confirmBtnChangePasswordModal:hover {
  background-color: var(--color-lighter-green);
  border-color: var(--color-lighter-green);
  transition: 0.2s;
}

#cancelBtnChangePasswordModal {
  background-color: transparent;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  font-weight: 400;
  padding: .8rem 1.6rem;
}

#cancelBtnChangePasswordModal:hover {
  background-color: var(--color-red);
  color: var(--color-white-text);
  transition: 0.2s;
}

@media (min-width: 700px)  {
  .footerChangePasswordModal button {
    width: 70%;
  }
}
