:root{
  font-size: 62.5%;


  --color-background: #edf0f6;
  --color-primary:green;
  --color-secundary:red;
  --color-text: #676767;
  --color-red:#cd3539;
  --color-light-green: #46a151ff;
  --color-dark-green: #0e402dff;
  --color-light-gray: #a4c8b4ff;
  --color-lighter-gray: #e5e5e5;
  --color-dark-gray: #212526;
  --color-dark-blue: #2b3a67ff;
  --color-white-text: #faffff;
}

html,
body {
  font-family: Roboto;
  background-color: var(--color-background);
  min-height: 100vh;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
