
.headerContainer {
  width: 100%;
  padding: 2.4rem 0;
  background-color: var(--color-lighter-gray);

}

img{
  margin: 0 1.6rem;
  height: 60px;
}

.headerContent{
  display: flex;
  margin: auto;
  max-width: 1110px;
}



.menu {
  /* position: absolute; */
  width: 100%;
  display: none;
  justify-content: flex-end;
  align-items: flex-end;
}

.menu ul{
  display: flex;
  list-style-type: none;
}

.menu ul li {
  margin-right: 2.4rem;
  font-size: 3.2rem;
  font-weight: 700;
}

.menu ul li a:hover {
  color: var(--color-light-green);
}

.selectedMenu {
  color: green;
}

.menuIcon {
  display: block;
}

.menuIconBtn {
  position: absolute;
  right: 3rem;
  top: 30px;
  cursor: pointer;
  border: none;
  background-color: var(--color-lighter-gray);
}

.menuMobile{
  position: absolute;
  z-index: 2;
  background-color: var(--color-lighter-gray);
  right: 0;
  top: 100px;
  padding: 1.2rem 1.6rem;
  border-radius: 0 0 0 12px;
  height: 100%;
  transition: .5s ease-in;
}

.menuMobile ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.menuMobile ul li {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 2rem 0;
}




@media (min-width: 700px)  {

  .menu {
    display: flex;
  }

  .menuIcon {
    display: none;
  }
}
