.container{
  background-color: #f6f5f8;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  flex: 1;
}

.content {
  margin: auto;
  /* margin-bottom: 1.6rem; */
  max-width: 1110px;
  padding: 1.6rem 1.6rem;
  /* display: flex;
  flex-direction: column; */
  /* height: 100%; */
}

.upper{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem ;
}

.upper h2{
  align-self: center;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-light-green);
}

.createItem{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.createItemBtn {
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border-radius: 24px;
  border: 1px solid #e0e0e0;
  padding: .8rem 1.6rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
  display: flex;
}

.createItemBtn:hover{
  cursor: pointer;
  background-color: var(--color-light-green);
  transition: 0.2s;
}



table {
  width: 100%;
  border-spacing:0;

}

thead th:first-child{
  border-radius: 12px 0 0 0;
  /* padding: 0 .8rem; */
}
thead th:last-child{
  border-radius: 0 12px 0 0;
  /* padding: 0 1.6rem; */
}

thead th{
  font-weight: 900;
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border-bottom: 1px solid #e0e0e0;

}



th {
  padding: .8rem 1.6rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  background-color:#fbfdfd;
  border-bottom: 1px solid #e0e0e0;
  color: var(--color-text);
}


td {
  padding: .8rem 1.6rem;
  text-align: left;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: center;
  background-color:#fbfdfd;
  border-bottom: 1px solid #e0e0e0;
  color: var(--color-text);
}



tbody td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@media (min-width: 700px){
  .content {
    padding: 3.2rem 1.6rem;
  }

  .upper{
    margin-bottom: 3.2rem;
  }

  .createItemBtn{
    display: flex;
  }

  th {
    padding: .8rem 0;
  }


}
