.container{
  background-color: #f6f5f8;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapper {
  width: 100%;
  flex: 1;
}

.content {
  margin: auto;
  /* margin-bottom: 1.6rem; */
  max-width: 1110px;
  padding: 1.6rem 1.6rem;
  /* display: flex;
  flex-direction: column; */
  /* height: 100%; */
}

.upper{
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem ;
}

.upper h2{
  align-self: center;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-light-green);
}

.createItem{
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.createItemBtn {
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  padding: .8rem 1.6rem;
  display: none;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
}

.createItemBtnMobile {
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border: none;
  border-radius: 50%;
  padding: 1.6rem 2.0rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 2rem;
}

.createItemBtn:hover{
  cursor: pointer;
  background-color: var(--color-light-green);
  transition: 0.2s;
}



table {
  width: 100%;
  border-spacing:0;
  border: 4px solid var(--color-lighter-gray);
  border-radius: 16px;
}

thead th:first-child{
  border-radius: 12px 0 0 0;
  /* padding: 0 .8rem; */
}
thead th:last-child{
  border-radius: 0 12px 0 0;
  /* padding: 0 1.6rem; */
}

thead th{
  font-weight: 700;
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border-bottom: 1px solid #e0e0e0;
}

th {
  padding: .8rem 1.6rem;
  text-align: left;
  font-size: 1.6rem;
  text-align: center;
  background-color:#fbfdfd;
  border-bottom: 1px solid #e0e0e0;
  color: var(--color-text);
}

tbody tr:nth-of-type(odd) {
  background: #fbfdfd;
}

tbody tr:nth-of-type(even) {
  background: #f6f5f8;
}


td {
  padding: .8rem 0;
  text-align: left;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-text);
}

tbody td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

@media (min-width: 700px){
  .content {
    padding: 3.2rem 1.6rem;
  }

  .upper{
    margin-bottom: 3.2rem;
  }

  .createItemBtn{
    display: flex;
  }

  .createItemBtnMobile{
    display: none;
  }

  th {
    padding: .8rem 0;
  }

  tr:last-child td{
    border-bottom: none;
  }
}

@media (max-width: 700px){
  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	tr {
    border-bottom: 8px solid var(--color-lighter-gray);
    /* border-top: none; */
  }

	td {
		/* Behave  like a "row" */
		position: relative;
		padding-left: 50%;
	}


	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 0px;
		left: 0px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
    content: attr(data-label);
    font-weight: 700;
    background-color: var(--color-light-green);
    color: var(--color-white-text);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
	}

  tr:first-child {
    border-radius: 12px 12px 0 0;
    /* border-top: 3px solid var(--color-lighter-gray); */
  }

  tr:first-child td:first-child::before {
    border-radius: 12px 0 0 0;
  }

  tr:last-child {
    border-radius: 0 0 12px 12px;
    border-bottom: none;
  }

  tr td:last-child{
    border: none;
  }

  tr:last-child td:last-child::before {
    border-radius: 0 0 0 12px;
  }
}
