.containerUsersList {
  background-color: #f6f5f8;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.wrapperUsersList {
  width: 100%;
  flex: 1;
}

.contentUsersList {
  margin: auto;
  max-width: 1110px;
  padding: 1.6rem 1.6rem;
  height: 100%;
}

.upperUsersList {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.6rem;
}

.upperUsersList h2 {
  align-self: center;
  font-size: 4rem;
  font-weight: 900;
  color: var(--color-light-green);
}

.createItemUsersList {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.createItemBtnUsersList {
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  padding: .8rem 1.6rem;
  display: none;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
}

.createItemBtnUsersList svg {
  margin-right: .8rem;
}

.createItemBtnMobileUsersList {
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border: none;
  border-radius: 50%;
  padding: 1.6rem 2.0rem;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.4rem;
  position: fixed;
  z-index: 1;
  bottom: 2rem;
  right: 2rem;
}

.createItemBtnUsersList:hover {
  cursor: pointer;
  background-color: var(--color-lighter-green);
  transition: 0.2s;
}

.tableUsersList {
  width: 100%;
  border-spacing: 0;
  border: 4px solid var(--color-lighter-gray);
  border-radius: 16px;
}

.tableUsersList thead th:first-child {
  border-radius: 12px 0 0 0;
  /* padding: 0 .8rem; */
}

.tableUsersList thead th:last-child {
  border-radius: 0 12px 0 0;
  /* padding: 0 1.6rem; */
}

.tableUsersList thead th {
  font-weight: 700;
  background-color: var(--color-light-green);
  color: var(--color-white-text);
  border-bottom: 1px solid #e0e0e0;
}

.tableUsersList th {
  padding: .8rem 1.6rem;
  text-align: left;
  font-size: 1.6rem;
  text-align: center;
  background-color: #fbfdfd;
  border-bottom: 1px solid #e0e0e0;
  color: var(--color-text);
}

.tableUsersList tbody tr:nth-of-type(odd) {
  background: #fbfdfd;
}

.tableUsersList tbody tr:nth-of-type(even) {
  background: #f6f5f8;
}

.tableUsersList td {
  text-align: left;
  font-weight: 500;
  font-size: 1.6rem;
  text-align: center;
  border-bottom: 1px solid var(--color-light-gray);
  color: var(--color-text);
}



.tableUsersList tbody .tableUsersList td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.editUser {
  padding: 0;
  height: 3.6rem;
}

.editUserButton {
  display: block;
  width: 100%;
  height: 100%;
  border: none;
  background: none;
}

.editUserButton:hover {
  cursor: pointer;
  background-color: var(--color-lighter-green);
  transition: 0.2s;
}

.editUserButton:hover svg {
  color: var(--color-white-text);
  transition: 0.2s;
}

.errorMsgUsersList {
  margin-top: 2rem;
  font-weight: 900;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.errorMsgUsersList img {
  margin-bottom: 2rem;
}

.errorMsgUsersList button {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
  font-size: 2.4rem;
  height: 100%;
  border-radius: 24px;
}

.errorMsgUsersList button:hover {
  background-color: var(--color-lighter-gray);
  transition: 0.2s;
}

.errorMsgUsersList button svg {
  stroke: var(--color-red);
  margin-bottom: 2rem;
}

@media (min-width: 700px) {
  .contentUsersList {
    padding: 3.2rem 1.6rem;
  }

  .upperUsersList {
    margin-bottom: 3.2rem;
  }

  .createItemBtnUsersList {
    display: flex;
  }

  .createItemBtnMobileUsersList {
    display: none;
  }

  .tableUsersList th {
    padding: .8rem 0;
  }

  .tableUsersList tr:last-child .tableUsersList td {
    border-bottom: none;
  }

  .tableUsersList tr:last-child .editItem .editUserButton {
    border-radius: 0 0 12px 0;
  }

  .errorMsgUsersList {
    flex-direction: row;
    justify-content: space-evenly;
    min-height: 60vh;
  }

  .errorMsgUsersList img {
    display: block;
    margin: auto 0;
  }

  .errorMsgUsersList button {
    flex-direction: row;
    min-height: 60vh;
  }

  .errorMsgUsersList button svg {
    display: block;
    margin: auto 0;
    flex-basis: 10%;
  }
}

@media (max-width: 700px) {

  /* Force .tableUsersList to not be like .tableUsersLists anymore */
  .tableUsersList,
  .tableUsersList thead,
  .tableUsersList tbody,
  .tableUsersList th,
  .tableUsersList td,
  .tableUsersList tr {
    display: block;
  }

  /* Hide .tableUsersList headers (but not display: none;, for accessibility) */
  .tableUsersList thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .tableUsersList tr {
    border-bottom: 8px solid var(--color-lighter-gray);
    /* border-top: none; */
  }

  .tableUsersList td {
    /* Behave  like a "row" */
    position: relative;
    padding: .8rem 0;
    padding-left: 50%;
  }


  .tableUsersList td:before {
    /* Now like a .tableUsersList header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 0px;
    left: 0px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    content: attr(data-label);
    font-weight: 700;
    background-color: var(--color-light-green);
    color: var(--color-white-text);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .tableUsersList tr:first-child {
    border-radius: 12px 12px 0 0;
    /* border-top: 3px solid var(--color-lighter-gray); */
  }

  .tableUsersList tr:first-child .tableUsersList td:first-child::before {
    border-radius: 12px 0 0 0;
  }

  .tableUsersList tr:last-child {
    border-radius: 0 0 12px 12px;
    border-bottom: none;
  }

  .tableUsersList tr .tableUsersList td:last-child {
    border: none;
  }

  .tableUsersList tr:last-child .tableUsersList td:last-child::before {
    border-radius: 0 0 0 12px;
  }

  .tableUsersList tr:last-child .editItem .editUserButton {
    border-radius: 0 0 12px 12px;
  }
}
