
.modalContainerCreateTransactionModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 0;
}

.modalTitleCreateTransactionModal {
  margin: 0 0 2.8rem 0;
  display: inline-block;
  text-align: center;
  font-size: 3.2rem;
}

.modalContentCreateTransactionModal {
  height: 100%;
}

.loadingCreateTransactionModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 100%;
}

.loadingCreateTransactionModal img {
  margin-bottom: 2rem;
}

.modalErrorMsgCreateTransactionModal {
  margin-top: 2rem;
  font-weight: 900;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalErrorMsgCreateTransactionModal img {
  margin-bottom: 2rem;
}

.modalErrorMsgCreateTransactionModal button {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
  font-size: 2.4rem;
  height: 100%;
  border-radius: 24px;
}

.modalErrorMsgCreateTransactionModal button:hover{
  background-color: var(--color-lighter-gray);
  transition: 0.2s;
}

.modalErrorMsgCreateTransactionModal button svg {
  stroke: var(--color-red);
  margin-bottom: 2rem;
}

.formCreateTransactionModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.formCreateTransactionModal label {
  width: 100%;
  max-width: 350px;
  position:relative;
  display:inline-block;
  margin: 1.2rem;
}

.formCreateTransactionModal label + label {
  margin-top: 2.4rem;
}

.formCreateTransactionModal span {
  position: absolute;
  font-weight: 400;
  font-size: 2.4rem;
  pointer-events: none;
  left:12px;
  top:4px;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

.formCreateTransactionModal input {
  width: 100%;
  padding: 1.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  height: 3.6rem;
  display: inline-block;
  border: 2px solid var(--color-light-gray);
  border-radius: 16px;
  box-shadow: none;
}

.formCreateTransactionModal input:focus-visible{
  outline: none;
  border-color: var(--color-dark-blue);
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:.75;
  left: 12px;
  top:-20px;
  font-size: 1.6rem;
}

.formCreateTransactionModal select{
  width: 100%;
  padding: 0 1.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  height: 3.6rem;
  display: inline-block;
  border: 2px solid var(--color-light-gray);
  border-radius: 16px;
  box-shadow: none;
  cursor: pointer;
}

.formCreateTransactionModal select:focus,
.formCreateTransactionModal select:hover{
  outline: none;
  border-color: var(--color-dark-blue);
  transition: 0.2s;
}

.selectTitleCreateTransactionModal{
  position: absolute;
  font-weight: 400;
  pointer-events: none;
  left:12px;
  top:4px;
  opacity:.75;
  left: 12px;
  top:-20px !important;
  font-size: 1.6rem;
}

.formCreateTransactionModal p {
  font-size: 2.4rem;
}

.msgSucess {
  color: var(--color-light-green) !important;
}

.msgFail {
  color: var(--color-red);
}

.footerCreateTransactionModal {
  margin: 2.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerCreateTransactionModal button {
  width: 94%;
  max-width: 350px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  color: #faffff;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  font-size: 2.4rem;
  cursor: pointer;
}

.footerCreateTransactionModal .space {
  flex-grow: 1;
}


.footerCreateTransactionModal button svg {
  margin-left: 20px;
  align-self: center;
}

#confirmBtnCreateTransactionModal {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-light-green);
  color: #faffff;
  font-weight: 700;
  padding: .8rem 1.6rem;
  margin-bottom: 1.2rem;
}

#confirmBtnCreateTransactionModal:hover {
  background-color: var(--color-lighter-green);
  border-color: var(--color-lighter-green);
  transition: 0.2s;
}

#cancelBtnCreateTransactionModal {
  background-color: transparent;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  font-weight: 400;
  padding: .8rem 1.6rem;
}

#cancelBtnCreateTransactionModal:hover {
  background-color: var(--color-red);
  color: var(--color-white-text);
  transition: 0.2s;
}

@media (min-width: 700px)  {
  .loadingCreateTransactionModal {
    flex-direction: row;
  }

  .loadingCreateTransactionModal img {
    margin: 0 2rem;
  }

  .modalErrorMsgCreateTransactionModal {
    min-height: 30vh;
  }

  .modalErrorMsgCreateTransactionModal button {
    min-height: 30vh;
    justify-content: space-evenly;
  }

  label + label {
    margin-top: 0;
  }
  .footerCreateTransactionModal {
    margin: 0;
  }
  .footerCreateTransactionModal button {
    width: 70%;
  }
}
