
.modalContainerEditTransactionModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 10% 0;
}

.modalTitleEditTransactionModal {
  margin: 0 0 2.8rem 0;
  display: inline-block;
  text-align: center;
  font-size: 3.2rem;
}

.modalContentEditTransactionModal {
  height: 100%;
}

.loadingEditTransactionModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.4rem;
  height: 100%;
}

.loadingEditTransactionModal img {
  margin-bottom: 2rem;
}

.modalErrorMsgEditTransactionModal {
  margin-top: 2rem;
  font-weight: 900;
  font-size: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.modalErrorMsgEditTransactionModal img {
  margin-bottom: 2rem;
}

.modalErrorMsgEditTransactionModal button {
  width: 100%;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-weight: 900;
  font-size: 2.4rem;
  height: 100%;
  border-radius: 24px;
}

.modalErrorMsgEditTransactionModal button:hover{
  background-color: var(--color-lighter-gray);
  transition: 0.2s;
}

.modalErrorMsgEditTransactionModal button svg {
  stroke: var(--color-red);
  margin-bottom: 2rem;
}

.formEditTransactionModal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 1.6rem;
  text-align: center;
}

.formEditTransactionModal label {
  width: 100%;
  max-width: 350px;
  position:relative;
  display:inline-block;
}

.formEditTransactionModal label + label {
  margin-top: 2.4rem;
}

.formEditTransactionModal span {
  position: absolute;
  font-weight: 400;
  font-size: 2.4rem;
  pointer-events: none;
  left:12px;
  top:4px;
  transition: 0.2s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  opacity:0.5;
}

.formEditTransactionModal input {
  width: 100%;
  padding: 1.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  height: 3.6rem;
  display: inline-block;
  border: 2px solid var(--color-light-gray);
  border-radius: 16px;
  box-shadow: none;
}

.formEditTransactionModal input:focus-visible{
  outline: none;
  border-color: var(--color-dark-blue);
}

input:focus + span, input:not(:placeholder-shown) + span {
  opacity:.75;
  left: 12px;
  top:-20px;
  font-size: 1.6rem;
}

.formEditTransactionModal select{
  width: 100%;
  padding: 0 1.2rem;
  font-weight: 400;
  font-size: 2.4rem;
  height: 3.6rem;
  display: inline-block;
  border: 2px solid var(--color-light-gray);
  border-radius: 16px;
  box-shadow: none;
  cursor: pointer;
}

.formEditTransactionModal select:focus,
.formEditTransactionModal select:hover{
  outline: none;
  border-color: var(--color-dark-blue);
  transition: 0.2s;
}

.selectTitleEditTransactionModal{
  position: absolute;
  font-weight: 400;
  pointer-events: none;
  left:12px;
  top:4px;
  opacity:.75;
  left: 12px;
  top:-20px !important;
  font-size: 1.6rem;
}

.formEditTransactionModal p {
  font-size: 2.4rem;
}

.msgSucess {
  color: var(--color-light-green) !important;
}

.msgFail {
  color: var(--color-red);
}

.footerEditTransactionModal {
  margin: 2.8rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerEditTransactionModal button {
  width: 94%;
  max-width: 350px;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  color: #faffff;
  border: 1px solid #e0e0e0;
  border-radius: 24px;
  font-size: 2.4rem;
  cursor: pointer;
}

.footerEditTransactionModal .space {
  flex-grow: 1;
}


.footerEditTransactionModal button svg {
  margin-left: 20px;
  align-self: center;
}

#confirmBtnEditTransactionModal {
  background-color: var(--color-light-green);
  border: 2px solid var(--color-light-green);
  color: #faffff;
  font-weight: 700;
  padding: .8rem 1.6rem;
  margin-bottom: 1.2rem;
}

#confirmBtnEditTransactionModal:hover {
  background-color: var(--color-lighter-green);
  border-color: var(--color-lighter-green);
  transition: 0.2s;
}

#cancelBtnEditTransactionModal {
  background-color: transparent;
  color: var(--color-red);
  border: 2px solid var(--color-red);
  font-weight: 400;
  padding: .8rem 1.6rem;
}

#cancelBtnEditTransactionModal:hover {
  background-color: var(--color-red);
  color: var(--color-white-text);
  transition: 0.2s;
}

@media (min-width: 700px)  {
  .loadingEditTransactionModal {
    flex-direction: row;
  }

  .loadingEditTransactionModal img {
    margin: 0 2rem;
  }

  .modalErrorMsgEditTransactionModal {
    min-height: 30vh;
  }

  .modalErrorMsgEditTransactionModal button {
    min-height: 30vh;
    justify-content: space-evenly;
  }

  label + label {
    margin-top: 0;
  }
  .footerEditTransactionModal {
    margin: 0;
  }
  .footerEditTransactionModal button {
    width: 70%;
  }
}
